<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm">
            <div class="row">
                <div class="col-xs-12">
                    <button [disabled]="(!recipeForm.valid && recipeForm.touched) || (!editMode && !recipeForm.touched)" type="button" class="btn btn-primary" (click)="onSaveRecipe(editMode)" style="margin-right: 10px;">Save</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" formControlName="name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Image URL</label>
                        <input type="text" formControlName="imagePath" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                        <label for="name">Preview</label>
                        <img [src]="recipeForm.get('imagePath').value" class="img-responsive form-control" >
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Description</label>
                        <textarea type="text" formControlName="description" class="form-control" row="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredient" style="margin-top: 5px;">
                    <div class="row">
                        <div class="col">
                            <label for="name">Ingredient Name</label>
                        </div>
                        <div class="col">
                            <label for="amount">Amount</label>
                        </div>
                    </div>
                    <div class="row" *ngFor="let ing of controls;let i =index;" [formGroupName]="i" >
                        <div class="col" style="margin-top: 10px;">
                            <!-- <label for="name">Ingredient Name</label> -->
                            <input formControlName="name" type="text" class="form-control">
                        </div>
                        <div class="col" style="margin-top: 10px;">
                            <!-- <label for="name">Amount</label> -->
                            <input formControlName="amount" type="number" class="form-control">
                        </div>
                        <div class="col" style="margin-top: 10px;">
                            <button type="button" class="btn btn-danger" (click)="deleteIngredient(i)">X</button>
                        </div>
                                    
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary" style="margin-top: 10px;" (click)="addIngredient()">Add Ingredient</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>