<nav
    class="navbar navbar-expand-sm navbar-light bg-light"
>
    <div class="container">
        <a class="navbar-brand" href="#" (click)="onHeaderClick('Recipe Book')">Recipe  Book</a> 
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="onHeaderClick('Recipes')">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="onHeaderClick('Shopping List')">Shopping List</a>
                </li>
                
            </ul>
            <form class="d-flex my-2 my-lg-0">                
                <div class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="dropdownId"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        >Manage</a
                    >
                    <div
                        class="dropdown-menu"
                        aria-labelledby="dropdownId"
                    >
                        <a class="dropdown-item" href="#"
                            >Save Data</a
                        >
                        <a class="dropdown-item" href="#"
                            >Fetch Data</a
                        >
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>
